{% extends 'adminlte/base.html' %}

{% block title %}HC - {% block page_title %}{% endblock %}{% endblock %}

{% block logo_text %}HC{% endblock %}

{% block content %}

<div class="content-wrapper">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show m-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% block main_content %}
    {% endblock %}
</div>
{% endblock %}

{% block navbar %}
<nav class="main-header navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-user"></i> {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">Welcome, {{ user.username }}!</span>
                    <a href="{% url 'authentication:logout' %}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
